* {
  margin-left: 100px;
}

.filter {
  margin-bottom: 30px;
}
.buttons{
  display: flex;
}
.rightBtn{
  position: relative;
  left: 31em;
}

h2{
  margin-left: 150px;
}

.btnForm {
  display: flex;
  flex-direction: row;
}

.datatable {
  margin-left: 200px;
  display: flex;
  padding: 50px;
  width: auto;
}