* {
  margin-left: 100px;
}

.filter {
  margin-bottom: 30px;
}
.buttons{
  display: inline-block;
}
h2{
  text-align: left;
  margin-left: 100px;
}

.template{
  display: flex;
  flex-direction: column;
  justify-items: end;
  width: 500px;
}

.save {
  width: 100px;
  position: relative;
}

.datatable {
  margin-left: 200px;
  display: flex;
  padding: 50px;
  width: auto;
}