<div class="grid-container">
  <h2>Students</h2>
  <div class="datatable">
    <p>{{students}}</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Registration Date</th>
          <th scope="col">Age</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <th>{{student.Name}}</th>
          <td>{{student.RegistrationDate}}</td>
          <td>{{student.Age}}</td>
          <td>{{student.Email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
