* {
  left: 6%;
}

.infoStudent{
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}

.cards{
  margin: 10px;
}
.cardCourse {
  font-size: .6rem;
}

.card{
  width: 200px;
  height: 110px;
  margin: auto;
}

h1 {
  font-size: 1.7rem;
  font-weight: 600;
}